<launch>
	<arg name="world_name" default="$(find velmobil_navigation)/data/gazebo/worlds/simple_test_world.world" />
	<arg name="map_name" default="$(find velmobil_navigation)/map/simple_test_map.yaml" />

	<param name="/kb_places_xml" type="string" value="$(find velmobil_navigation)/map/places.xml" />
	<param name="/sim_mode" type="string" value="gazebo" />
<!--
	<rosparam command="load" file="$(find velmobil_navigation)/params/global_costmap.yaml" ns="/move_base/global_costmap"/>
	<rosparam command="load" file="$(find velmobil_navigation)/params/local_costmap.yaml" ns="/move_base/local_costmap"/>

	<rosparam command="load" file="$(find velmobil_navigation)/params/global_planner.yaml" ns ="/move_base"/>
	<rosparam command="load" file="$(find velmobil_navigation)/params/local_planner.yaml" ns ="/move_base"/>
-->
	<arg name="mobile_base" default="true" />


  <arg name="GAZEBO_MODEL_PATH" default=""/>
  <arg name="GAZEBO_RESOURCE_PATH" default=""/>
  <!-- start gazebo server-->
  <env
    name="GAZEBO_MODEL_PATH"
    value="$(arg GAZEBO_MODEL_PATH):$(optenv GAZEBO_MODEL_PATH):$(find velmobil_navigation)/data/gazebo/models"
  />
  <env
    name="GAZEBO_RESOURCE_PATH"
    value="$(arg GAZEBO_RESOURCE_PATH):$(optenv GAZEBO_RESOURCE_PATH):$(find velmobil_navigation)/data/gazebo"
  />

	<!-- manipulative part of the system -->

	<!-- launch omnivelma simulation -->
	<include file="$(find velma_common)/launch/velma_system.launch">
		<arg name="world_name" value="$(arg world_name)" />
		<arg name="mobile_base" value="$(arg mobile_base)" />
	</include>

	<!-- octomap server -->
	<include file="$(find velma_common)/launch/octomap_server.launch" />

	<!-- trajectory planner -->
	<include file="$(find velma_ros_plugin)/launch/velma_planner.launch" />


	<!-- mobile part of the system -->
	<!-- -->
	<!-- static map to odom tf publisher
	<node name="map_odom_tf_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map odom 10" /> -->

	<!-- static world to torso tf publisher-->
	<node name="world_torso_tf_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world torso_base 100" />

	<!-- run map server -->
	<node name="map_server" pkg="map_server" type="map_server"  args="$(arg map_name) _frame_id:=map"/>
	<!-- run move_base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">   
	    <rosparam file="$(find velmobil_navigation)/params/global_costmap.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find velmobil_navigation)/params/local_costmap.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find velmobil_navigation)/params/local_planner.yaml" command="load" />
	    <rosparam file="$(find velmobil_navigation)/params/global_planner.yaml" command="load" />
	</node>

	<!-- run global localisation amcl -->
	<node name="amcl" pkg="amcl" type="amcl"  args="_base_frame_id:=torso_base">
		  <param name="odom_model_type" value="omni"/>
		  <param name="odom_alpha5" value="0.1"/>
		  <param name="transform_tolerance" value="0.2" />
		  <param name="gui_publish_rate" value="10.0"/>
		  <param name="laser_max_beams" value="30"/>
		  <param name="min_particles" value="500"/>
		  <param name="max_particles" value="5000"/>
		  <param name="kld_err" value="0.05"/>
		  <param name="kld_z" value="0.99"/>
		  <param name="odom_alpha1" value="0.2"/>
		  <param name="odom_alpha2" value="0.2"/>
		  <!-- translation std dev, m -->
		  <param name="odom_alpha3" value="0.8"/>
		  <param name="odom_alpha4" value="0.2"/>
		  <param name="laser_z_hit" value="0.5"/>
		  <param name="laser_z_short" value="0.05"/>
		  <param name="laser_z_max" value="0.05"/>
		  <param name="laser_z_rand" value="0.5"/>
		  <param name="laser_sigma_hit" value="0.2"/>
		  <param name="laser_lambda_short" value="0.1"/>
		  <param name="laser_lambda_short" value="0.1"/>
		  <param name="laser_model_type" value="likelihood_field"/>
		  <!-- <param name="laser_model_type" value="beam"/> -->
		  <param name="laser_likelihood_max_dist" value="2.0"/>
		  <param name="update_min_d" value="0.2"/>
		  <param name="update_min_a" value="0.5"/>
		  <param name="odom_frame_id" value="odom"/>
		  <param name="resample_interval" value="1"/>
		  <param name="transform_tolerance" value="0.1"/>
		  <param name="recovery_alpha_slow" value="0.0"/>
		  <param name="recovery_alpha_fast" value="0.0"/>
	</node>
	<!-- laser scan merger -->
	<include file="$(find velmobil_navigation)/launch/laserscan_multi_merge.launch"/>

	

	<!-- misc -->

	<!-- position of important objects in gazebo -->
	<!-- <node name="object_markers" pkg="velmobil_navigation" type="object_marker" output="screen" /> -->
</launch>
