<launch>
	<arg name="world_name" default="$(find velmobil_navigation)/data/gazebo/worlds/simple_test_world.world" />
	<arg name="map_name" default="$(find velmobil_navigation)/map/simple_test_map.yaml" />

	<param name="/sim_mode" type="string" value="gazebo" />
<!--
	<rosparam command="load" file="$(find velmobil_navigation)/params/global_costmap.yaml" ns="/move_base/global_costmap"/>
	<rosparam command="load" file="$(find velmobil_navigation)/params/local_costmap.yaml" ns="/move_base/local_costmap"/>

	<rosparam command="load" file="$(find velmobil_navigation)/params/global_planner.yaml" ns ="/move_base"/>
	<rosparam command="load" file="$(find velmobil_navigation)/params/local_planner.yaml" ns ="/move_base"/>
-->
	<arg name="mobile_base" default="true" />


  <arg name="GAZEBO_MODEL_PATH" default=""/>
  <arg name="GAZEBO_RESOURCE_PATH" default=""/>
  <!-- start gazebo server-->
  <env
    name="GAZEBO_MODEL_PATH"
    value="$(arg GAZEBO_MODEL_PATH):$(optenv GAZEBO_MODEL_PATH):$(find velmobil_navigation)/data/gazebo/models"
  />
  <env
    name="GAZEBO_RESOURCE_PATH"
    value="$(arg GAZEBO_RESOURCE_PATH):$(optenv GAZEBO_RESOURCE_PATH):$(find velmobil_navigation)/data/gazebo"
  />

	<!-- manipulative part of the system -->

	<!-- launch omnivelma simulation -->
	<include file="$(find velma_common)/launch/velma_system.launch">
		<arg name="world_name" value="$(arg world_name)" />
		<arg name="mobile_base" value="$(arg mobile_base)" />
	</include>

	<!-- octomap server -->
	<include file="$(find velma_common)/launch/octomap_server.launch" />

	<!-- trajectory planner -->
	<include file="$(find velma_ros_plugin)/launch/velma_planner.launch" />


	<!-- mobile part of the system -->
	<!-- -->

	<!-- static world to torso tf publisher-->
	<node name="world_torso_tf_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world torso_base 100" />

	<!-- run map server -->
	<node name="map_server" pkg="map_server" type="map_server"  args="$(arg map_name) _frame_id:=map"/>
	<!-- run move_base -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">   
	    <rosparam file="$(find velmobil_navigation)/params/global_costmap.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find velmobil_navigation)/params/local_costmap.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find velmobil_navigation)/params/local_planner.yaml" command="load" />
	    <rosparam file="$(find velmobil_navigation)/params/global_planner.yaml" command="load" />
	</node>


	<!-- fake AMCL -->
	<node name="fake_localization" pkg="fake_localization" type="fake_localization" output="screen" >
	<param name='base_frame_id' value='torso_base'/>
	<remap from='base_pose_ground_truth' to='odom'/>
	</node>

	<!-- laser scan merger -->
	<include file="$(find velmobil_navigation)/launch/laserscan_multi_merge.launch"/>

	

	<!-- misc -->

	<!-- position of important objects in gazebo -->
	<!-- <node name="object_markers" pkg="velmobil_navigation" type="object_marker" output="screen" /> -->
</launch>
